In [14]:
from datetime import datetime

print(datetime.now())

2023-03-27 19:36:29.936509

In [9]:
import time
from datetime import datetime

from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"

# 取得目前日期時間的兩種方法：
f"now: {time.strftime('%Y-%m-%d %H:%M:%S', time.localtime())}"  # 用time模組
f"now: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}"          # 用datetime模組

'now: 2023-03-27 19:18:07'

'now: 2023-03-27 19:18:07'

Prompt examples for AI
<div style="font-family:Inconsolata; font-size:150%;">

[Prompt examples for AI](https://chat.openai.com/chat/644e5e60-cdb7-478c-a35e-ad261adc4bbf)

<!-- 
<header>
<div style="text-align:center"><img src="https://i.imgur.com/9dPj9Bo.jpg" width="500"/></div> -->

In [6]:
16**32

340282366920938463463374607431768211456

In [ ]:
import pandas as pd

# Create the 'students' DataFrame
data = {'student_id': ['123', '123', '225'],
        'course_id': ['CS101', 'BI213', 'EN524']}
students = pd.DataFrame(data)

# Initialize an empty DataFrame for 'new_students'
new_students = pd.DataFrame(columns=['student_id', 'course_id', 'order'])

# Insert 500 rows for each student_id and course_id pair from 'students'
for index, row in students.iterrows():
    student_id = row['student_id']
    course_id = row['course_id']
    for order in range(1, 501):  # 1 to 500 inclusive
        new_students = new_students.append({'student_id': student_id,
                                            'course_id': course_id,
                                            'order': order}, ignore_index=True)

# Print the 'new_students' DataFrame
print(new_students)

In [4]:
import pandas as pd

# Create the 'students' DataFrame
data = {'student_id': ['123', '123', '225'],
        'course_id': ['CS101', 'BI213', 'EN524']}
students = pd.DataFrame(data)

# Initialize an empty DataFrame for 'new_students'
new_students = pd.DataFrame(columns=['student_id', 'course_id', 'order'])

# Insert 500 rows for each student_id and course_id pair from 'students'
temp_data = []
for index, row in students.iterrows():
    student_id = row['student_id']
    course_id = row['course_id']
    for order in range(1, 501):  # 1 to 500 inclusive
        temp_data.append({'student_id': student_id,
                          'course_id': course_id,
                          'order': order})

temp_df = pd.DataFrame(temp_data)
new_students = pd.concat([new_students, temp_df], ignore_index=True)

# Create the 'new_students' DataFrame using the collected data
new_students = pd.DataFrame(temp_data)

# Print the 'new_students' DataFrame
print(new_students)
new_students.shape

     student_id course_id order
0           123     CS101     1
1           123     CS101     2
2           123     CS101     3
3           123     CS101     4
4           123     CS101     5
...         ...       ...   ...
1495        225     EN524   496
1496        225     EN524   497
1497        225     EN524   498
1498        225     EN524   499
1499        225     EN524   500

[1500 rows x 3 columns]

(1500, 3)

In [5]:
import pandas as pd

# Create the 'students' DataFrame
data = {'student_id': ['123', '123', '225'],
        'course_id': ['CS101', 'BI213', 'EN524']}
students = pd.DataFrame(data)

# Initialize an empty list for storing data before creating the 'new_students' DataFrame
temp_data = []

# Insert 500 rows for each student_id and course_id pair from 'students'
for index, row in students.iterrows():
    student_id = row['student_id']
    course_id = row['course_id']
    for order in range(1, 501):  # 1 to 500 inclusive
        temp_data.append({'student_id': student_id,
                          'course_id': course_id,
                          'order': order})

# Create the 'new_students' DataFrame using the collected data
new_students = pd.DataFrame(temp_data)

# Print the 'new_students' DataFrame
print(new_students)

     student_id course_id  order
0           123     CS101      1
1           123     CS101      2
2           123     CS101      3
3           123     CS101      4
4           123     CS101      5
...         ...       ...    ...
1495        225     EN524    496
1496        225     EN524    497
1497        225     EN524    498
1498        225     EN524    499
1499        225     EN524    500

[1500 rows x 3 columns]